/*
* This is the Main CSS file for the Theragist Web App.
* ================================================================================================
*/
@font-face {
    font-family: "nexa-bold";
    src: url("../../assets/fonts/nexa-bold.otf"); 
    font-weight: bold
}
@font-face {
    font-family: "nexa-light";
    src: url("../../assets/fonts/nexa-light.otf"); 
}

body {
    margin: 0;
    padding: 0;
    font-family: "nexa-light" /*, "Open Sans", sans-serif*/;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5em;
    color: #808284;
    background-color: #fff; /*#f0f4f5*/;
    position: "relative";
}
.theragist-back {
    background-color: #00b0c7;
}
.theragist-deepblue-back {
    color: #fff;
    background-color:rgb(15, 101, 135);
}
.theragist-white-back {
    background-color: #fff;
}
.add-shadow {
    box-shadow: 0 0 5px 2px #eee;
}
.block-anchor {
    cursor: pointer;
}
.block-anchor:hover {
    background-color: #fefefe;
}
/*
* Images 
* ===================================================================================
*/
.image { 
    max-width: 100%;
    height: auto;
}
img .avatar-icon { 
    width: 37px;
    height: 37px;
    border-radius: 100%;
}
.link-hover:hover {
    color: #fff !important;
    background-color: #00b0c7;
}

/**
* Forms
*/
input,
input:focus,
select,
select:focus,
textarea,
textarea:focus,
.btn, .btn:focus,
button:focus,
.form-control,
.form-control:focus,
.form-element:focus {
    outline: none;
    box-shadow: none;
}
.input:focus {
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
}

/*
* Typography Elements
* ================================================================== 
*/
h1, h2, h3, h4, h5, h6 {
    font-family: "nexa-bold" /*"Roboto", sans-serif*/;
    font-weight: 700;
    margin-bottom: 24px;
}
p, span {
    word-wrap: break-word !important;
}

/*
* Anchor and Links
* =====================================================================
*/
a {
    text-decoration: none;
    color: #00b0c7;
}
a:hover {
    text-decoration: none;
    color: #f7a30a;
}
.white-anchor {
    text-decoration: none !important;
    color: #fff !important;
}
.white-anchor:hover {
    color:  #f0f4f5 !important;
}
.black-anchor {
    text-decoration: none;
    color: #000 !important;
}
.black-anchor:hover {
    color: #555 !important
}

/*
* Form Elements
* ============================================================================================
*/
.form-element {
    border-style: none;
    border-radius: 0;
    border-width: 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #bbb;
    background-color: #fff;
    outline: none;
}
.button, .button-inverse {
    border-radius: "10px";
    border-style:solid;
    border-width: 3px;
    
    color: #fff;
    font-weight: 600;
}
.button-inverse {
    border-color: #f7a30a;
    background-color: #f7a30a;
}
.button {
    border-color: #00b0c7;
    background-color:#00b0c7;
}
.button:hover
{
    color: #fff;
    border-color: #f7a30a;
    background-color: #f7a30a;
}
.button-inverse:hover {
    color: #fff;
    border-color: #f7a30a;
    background-color: #00b0c7;
}

/*
* Welcome 
* ========================================================================================================================
*/
.welcome {
    position: relative;
    height: 550px;
    background-image: url(../images/welcome-back.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;
    overflow: visible;
}
.welcome .content {
    height: 500px;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: visible;
    margin-top: 10%;
    box-shadow: 0 0 5px 2px #eee;
}
.welcome h6 {
    margin-bottom: 0;
    padding: 5px 0 5px 0;
}
.welcome .nav-link,
.welcome .nav-link.active {
    border-radius: 0;
}
.welcome .nav-pills .nav-link.active {
    color: #fff;
    background-color: rgba(15, 101, 135);
}

.landing .lead > h1, 
.landing .lead > p
{
    color:#fff;
} 
.landing .lead > h1 {
    font-size: 3.5rem;
}
.landing .lead > p {
    font-size: 1.8rem;
    line-height: 2rem;
}

.btn-point-cool-wrapper,
.btn-point-orange-wrapper {
    border-width: 2px;
    border-radius: 63px;
    border-style: solid;
    padding: 3px;
}
.btn-point-cool-wrapper {
    border-color: #00b0c7;
}
.btn-point-orange-wrapper {
    border-color: #f7a30a;
}
.btn-point-cool,
.btn-point-orange {
    padding: 10px;
    color: #fff;
    font-weight: 600;
    border-width: 1px;
    border-radius: 63px;
    border-style: solid;
}
.btn-point-cool {
    border-color: #00b0c7;
    background-color: #00b0c7;
}
.btn-point-orange {
    border-color: #f7a30a;
    background-color: #f7a30a;
}